logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/RUNNING_PID
/.settings
/conf/blog-prod.conf
/conf/blog-local.conf
/conf/application-prod.conf
/public/resume.html